# Virtual environments
.venv*/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Generated project update artifacts
project/project_update.pdf
project/project_update.html
